In [1]:
# 6.5.2
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# 6.5.2
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,Bredasdorp,-34.5322,20.0403,66.25,42,2,6.55,ZA,2022-06-03 13:41:04
1,1,Saint-Philippe,-21.3585,55.7679,76.59,72,19,10.45,RE,2022-06-03 13:41:05
2,2,Albany,42.6001,-73.9662,69.58,58,46,1.01,US,2022-06-03 13:38:07
3,3,Puerto Colombia,10.9878,-74.9547,82.49,71,15,3.29,CO,2022-06-03 13:41:05
4,4,Camacha,33.0833,-16.3333,69.22,56,20,14.97,PT,2022-06-03 13:41:05

In [3]:
# 6.5.2
# Get the data types.
city_data_df.dtypes

City_ID         int64
City           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
Country        object
Date           object
dtype: object

In [4]:
# 6.5.2
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [5]:
# 6.5.2
# Heatmap of temperature

# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]

# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]

# Assign the figure variable.
fig = gmaps.figure()

# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp)

# Add the heatmap layer.
fig.add_layer(heat_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [6]:
# 6.5.2
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp)

In [7]:
# 6.5.2
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [8]:
# 6.5.2
# Heatmap of temperature

# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]

# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]

# Assign the figure variable.
fig = gmaps.figure()

# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp])

# Add the heatmap layer.
fig.add_layer(heat_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# 6.5.2
# Heatmap of temperature

# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]

# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]

# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)

# Add the heatmap layer.
fig.add_layer(heat_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# 6.5.2
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [11]:
# 6.5.2
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [12]:
# 6.5.2
# Heatmap of windspeed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [13]:
# 6.5.3
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [14]:
# 6.5.3
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
1,1,Saint-Philippe,-21.3585,55.7679,76.59,72,19,10.45,RE,2022-06-03 13:41:05
3,3,Puerto Colombia,10.9878,-74.9547,82.49,71,15,3.29,CO,2022-06-03 13:41:05
5,5,Maningrida,-12.0667,134.2667,77.13,88,10,8.43,AU,2022-06-03 13:41:06
6,6,Rikitea,-23.1203,-134.9692,75.88,72,100,12.77,PF,2022-06-03 13:41:06
8,8,Victoria,22.2855,114.1577,86.38,84,93,11.99,HK,2022-06-03 13:38:14
9,9,Dunmore Town,25.5000,-76.6500,75.74,74,100,14.81,BS,2022-06-03 13:41:06
12,12,Lorengau,-2.0226,147.2712,81.05,70,3,8.14,PG,2022-06-03 13:41:07
19,19,Pafos,34.7667,32.4167,82.24,57,20,6.91,CY,2022-06-03 13:41:09
20,20,Ciudad Bolivar,8.1222,-63.5497,84.94,64,74,10.13,VE,2022-06-03 13:41:09
22,22,Phuket,8.0000,98.2500,84.09,78,75,17.27,TH,2022-06-03 13:41:10

In [15]:
# 6.5.3
preferred_cities_df.count()

City_ID       208
City          208
Lat           208
Lng           208
Max Temp      208
Humidity      208
Cloudiness    208
Wind Speed    208
Country       207
Date          208
dtype: int64

In [16]:
# 6.5.4
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

               City Country  Max Temp      Lat       Lng Hotel Name
1    Saint-Philippe      RE     76.59 -21.3585   55.7679
3   Puerto Colombia      CO     82.49  10.9878  -74.9547
5        Maningrida      AU     77.13 -12.0667  134.2667
6           Rikitea      PF     75.88 -23.1203 -134.9692
8          Victoria      HK     86.38  22.2855  114.1577
9      Dunmore Town      BS     75.74  25.5000  -76.6500
12         Lorengau      PG     81.05  -2.0226  147.2712
19            Pafos      CY     82.24  34.7667   32.4167
20   Ciudad Bolivar      VE     84.94   8.1222  -63.5497
22           Phuket      TH     84.09   8.0000   98.2500

In [17]:
# 6.5.4
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params = {
        "location": f"{lat},{lng}",
        "radius": 5000,
        "types" : "hotel",
        "key": g_key
    }

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
           
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
           
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.

In [18]:
# 6.5.4
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
1,Saint-Philippe,RE,76.59,-21.3585,55.7679,Saint-Philippe
3,Puerto Colombia,CO,82.49,10.9878,-74.9547,Sabanilla Montecarmelo
5,Maningrida,AU,77.13,-12.0667,134.2667,West Arnhem
6,Rikitea,PF,75.88,-23.1203,-134.9692,Rikitea
8,Victoria,HK,86.38,22.2855,114.1577,Hong Kong
9,Dunmore Town,BS,75.74,25.5000,-76.6500,Dunmore Town
12,Lorengau,PG,81.05,-2.0226,147.2712,Lorengau
19,Pafos,CY,82.24,34.7667,32.4167,Paphos
20,Ciudad Bolivar,VE,84.94,8.1222,-63.5497,Ciudad Bolívar
22,Phuket,TH,84.09,8.0000,98.2500,Choeng Thale

In [19]:
# 6.5.4
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [20]:
# 6.5.4
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [21]:
# 6.5.4
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [22]:
# 6.5.4
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))