## Deliverable 3. Create a Travel Itinerary Map.

In [1]:
# Challenge 6.3.4
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [2]:
# Challenge 6.3.6
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("Vacation_Search/WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,3,Albany,US,78.94,clear sky,42.6001,-73.9662,Shell Qianjiang City Qianjiang bus station Hotel
1,6,Devgarh,IN,87.66,clear sky,25.5333,73.9000,Deogarh Mahal
2,10,Sale,MA,75.63,scattered clouds,34.0389,-6.8166,Hôtel Mercure Rabat Sheherazade
3,18,Ewa Beach,US,75.43,clear sky,21.3156,-158.0072,Base Lodging
4,19,Faanui,PF,79.93,few clouds,-16.4833,-151.7500,Bora-Bora Pearl Beach Resort & Spa

In [3]:
# Challenge 6.3.7
# 2. Using the template add hotel name, city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [5]:
# Challenge 6.3.7
# 4a. Add a marker layer for each city to the map.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Challenge 6.3.9
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[vacation_df['City'] == 'Mayo']
vacation_end = vacation_df.loc[vacation_df['City'] == 'Mayo']
vacation_stop1 = vacation_df.loc[vacation_df['City'] == 'Sterling']
vacation_stop2 = vacation_df.loc[vacation_df['City'] == 'Bethel'] 
vacation_stop3 = vacation_df.loc[vacation_df['City'] == 'Mastic Beach']

In [8]:
# Challenge 6.3.10
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = (vacation_start['Lat'].to_numpy()[0], vacation_start['Lng'].to_numpy()[0])
end = (vacation_end['Lat'].to_numpy()[0], vacation_end['Lng'].to_numpy()[0])
stop1 = (vacation_stop1['Lat'].to_numpy()[0], vacation_stop1['Lng'].to_numpy()[0])
stop2 = (vacation_stop2['Lat'].to_numpy()[0], vacation_stop2['Lng'].to_numpy()[0])
stop3 = (vacation_stop3['Lat'].to_numpy()[0], vacation_stop3['Lng'].to_numpy()[0])

In [9]:
# Challenge 6.3.11
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
fig = gmaps.figure()
vacation_driving_trip = gmaps.directions_layer(start, end, waypoints=[stop1, stop2, stop3], travel_mode='DRIVING')
fig.add_layer(vacation_driving_trip)
fig

Figure(layout=FigureLayout(height='420px'))

In [13]:
# Challenge 6.3.13
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start, vacation_stop1, vacation_stop2, vacation_stop3, vacation_end],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,127,Mayo,US,84.67,clear sky,38.8876,-76.5119,Resorts Resource Group International
1,457,Sterling,US,84.25,scattered clouds,39.0062,-77.4286,Hampton Inn & Suites Washington-Dulles Interna...
2,81,Bethel,US,82.29,clear sky,41.3712,-73.4140,Courtyard by Marriott Danbury
3,69,Mastic Beach,US,75.97,clear sky,40.7668,-72.8521,Brushwood House by Smith Point Beach
4,127,Mayo,US,84.67,clear sky,38.8876,-76.5119,Resorts Resource Group International

In [15]:
# Challenge 6.3.14
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
itinerary_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [16]:
# 11a. Add a marker layer for each city to the map.
fig = gmaps.figure()
marker_layer = gmaps.marker_layer(locations, info_box_content=itinerary_info)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))